.row{
    margin-top: 20px;
    margin-bottom:20px ;
}

.title{
    margin-top: 100px;
    margin-bottom:20px ;
    color: rgb(3, 3, 20);
   padding-left: 400px;
   background-color: aquamarine;
}  

.card {
    
    width: 230px;
    height: 230px;
}

