.footer{
  background-color: rgb(142, 249, 253);
}
  
  .socialMedia svg {
    color: rgb(7, 7, 7);
    margin: 20px;
    font-size: 50px;
    cursor: pointer;
    
  }

  .socialMedia {
      position: absolute;
      left: 500px;
  }
  
  