.home {
  width: 98%;
  height: 135vh;
  display: flex;
  justify-content:left;
  align-items: left;
  margin: 0;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .container{
    margin-top: 180px;
  }

  
  .card{
    
  }
  .card-body{
    width:400px ;
    height:400px ;
   
  }

  .loginf{

    width: 800px;
    background-color: rgba(29, 28, 28, 0.5);
    margin: auto;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    
    border-radius: 15px 15px 15px 15px;
}