.home {
  width: 80%;
  height: 90vh;
  display: flex;
  justify-content:left;
  align-items: left;
  margin: 0;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  

  